{% extends 'base.html.twig' %}

{% block title %}Clubs{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

<h1>Liste des Products</h1>
<a class="btn btn-primary" href="{{path('add_product')}}" class="btn btn-primary">Add new Product</a><br><br>
<div class="mb-3">
</div>
<table class="table table-striped">
<tr>
<th>ID</th>
<th>Label</th>
<th>Price</th>
<th>Quantity</th>
<th>Actions</th>
</tr>
{% for c in products %}
    <tr>
    <td>{{c.id}}</td>
    <td>{{c.label|upper}}</td>
    <td>{{c.price}}</td>
    <td>{{c.quantity}}</td>
    <td>| <a href="{{path('remove_product',{'id':c.id}) }}">remove</a></td>
    </tr>
    
{% endfor %}
<tr>Nombre Total:{{products|length}}</tr><br><br>
</table>


</div>
{% endblock %}